<div class="space-form-container">
  <h2>Agregar Nuevo Espacio</h2>
  <form [formGroup]="spaceForm" (ngSubmit)="createSpace()">
    <mat-form-field>
      <mat-label>Ubicación</mat-label>
      <input matInput formControlName="location" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Capacidad</mat-label>
      <input matInput formControlName="capacity" type="number" required>
    </mat-form-field>
    <div class="days-checkbox">
      <label>Días Permitidos:</label>
      <div *ngFor="let day of daysOfWeek">
        <mat-checkbox [value]="day.value" (change)="onCheckboxChange($event)">
          {{ day.name }}
        </mat-checkbox>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Horario de Apertura</mat-label>
      <input matInput formControlName="openingHour" type="time" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Horario de Cierre</mat-label>
      <input matInput formControlName="closingHour" type="time" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="type" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Disponibilidad</mat-label>
      <mat-select formControlName="availability" required>
        <mat-option value="Disponible">Disponible</mat-option>
        <mat-option value="No Disponible">No Disponible</mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <label for="file">Imagen</label>
      <input type="file" id="file" (change)="onFileSelected($event)">
    </div>
    <button mat-raised-button color="primary" type="submit">Agregar Espacio</button>
  </form>
</div>
