.space-form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.space-form-container h2 {
  text-align: center;
  color: #333333;
  font-size: 1.8em;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.days-checkbox {
  margin-bottom: 15px;
}

.days-checkbox label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.days-checkbox div {
  display: flex;
  align-items: center;
}

.image-upload {
  margin-bottom: 15px;
}

.image-upload label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
