<div class="space-form-container">
  <h2>Agregar Nuevo Espacio</h2>
  <div class="container-buttonBack">
    <button class="buttonBack" mat-stroked-button color="secondary" [routerLink]="['/spaces']">Volver a Espacios</button>
  </div>
  <form [formGroup]="spaceForm" (ngSubmit)="saveSpace()">
    <mat-form-field>
      <mat-label>Ubicación</mat-label>
      <input matInput formControlName="location" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Capacidad</mat-label>
      <input matInput formControlName="capacity" type="number" required>
    </mat-form-field>
    <div class="days-checkbox">
      <label>Días Permitidos:</label>
      <div *ngFor="let day of daysOfWeek">
        <mat-checkbox [value]="day.value" (change)="onCheckboxChange($event)"
          [checked]="spaceForm.get('allowedDays')?.value.includes(day.value)">
          {{ day.name }}
        </mat-checkbox>
      </div>
    </div>
    <mat-form-field>
      <mat-label>Horario de Apertura</mat-label>
      <input matInput formControlName="openingHour" type="time" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Horario de Cierre</mat-label>
      <input matInput formControlName="closingHour" type="time" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Tipo</mat-label>
      <input matInput formControlName="type" required>
    </mat-form-field>
    <mat-checkbox formControlName="availability">Disponible</mat-checkbox>
    <div>
      <label for="file">Imagen</label>
      <input type="file" id="file" (change)="onFileSelected($event)">
    </div>
    <button mat-raised-button color="primary" type="submit">Guardar Espacio</button>
  </form>
</div>
