<div class="dialog-container">
  <h2>Registrar Visita</h2>
  <form (ngSubmit)="onSubmit()" #visitorForm="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input class="form-control" type="text" id="name" required [(ngModel)]="visitor.name" name="name">
    </div>
    <div class="form-group">
      <label for="lastName">Apellido</label>
      <input class="form-control" type="text" id="lastName" required [(ngModel)]="visitor.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="rut">RUT</label>
      <input class="form-control" type="text" id="rut" required [(ngModel)]="visitor.rut" name="rut">
    </div>
    <div class="form-group">
      <label for="department">Departamento</label>
      <select class="form-control" id="department" required [(ngModel)]="visitor.departmentNumber" name="departmentNumber">
        <option *ngFor="let department of departments" [ngValue]="department">{{ department.departmentNumber }}</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Registrar</button>
    <button class="btn btn-secondary" type="button" (click)="onClose()">Cancelar</button>
  </form>
</div>
