.dialog-container {
  width: 400px;
  padding: 20px;
  background-color: #f1f1f1;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.example-full-width {
  width: 100%;
  margin-bottom: 16px;
}

.mat-form-field {
  background-color: white;
  border-radius: 4px;
}

.mat-form-field-wrapper {
  padding: 8px;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0 14px;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: white;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.38);
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(0, 0, 0, 0.54);
}

.mat-form-field-appearance-outline .mat-form-field-outline-start, 
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 4px;
}

button {
  display: block;
  margin: 16px auto;
  background-color: #194E30; /* Usar el color 900 de tu paleta personalizada */
  color: white;
}
