/* Asegúrate de que el contenido principal no se superponga con el sidebar */
.content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
    /* Ajusta según sea necesario */
}

.sidebar.visible~.content {
    margin-left: 250px;
    /* Ajusta el margen del contenido cuando el sidebar esté visible */
}