<div class="spaces-container">
  <h2>Espacios Disponibles</h2>
  <div *ngIf="spaces$ | async as spaces; else loading">
    <div *ngIf="spaces.length > 0; else noSpaces">
      <div class="space-card" *ngFor="let space of spaces">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ space.name }}</mat-card-title>
            <mat-card-subtitle>{{ space.location }}</mat-card-subtitle>
          </mat-card-header>
          <img *ngIf="space.image && space.image.imageData" [src]="'data:image/jpeg;base64,' + space.image.imageData" alt="{{ space.name }} Image">
          <mat-card-content>
            <p>Capacidad: {{ space.capacity }} personas</p>
            <p>Equipamiento: {{ space.allowedDays.join(', ') }}</p>
            <p>Horario Apertura: {{ space.openingHour }}</p>
            <p>Horario Cierre: {{ space.closingHour }}</p>
            <p>Tipo: {{ space.type }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">Reservar</button>
            <button mat-button color="accent" (click)="updateSpace(space._id, space)">Actualizar</button>
            <button mat-button color="warn" (click)="deleteSpace(space._id)">Eliminar</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <ng-template #noSpaces>
      <p>No hay espacios disponibles en este momento.</p>
    </ng-template>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
