<form [formGroup]="avisoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="title">Título:</label>
        <input id="title" formControlName="title" class="form-control">
        <div class="error-message" *ngIf="avisoForm.controls['title'].invalid && avisoForm.controls['title'].touched">
            Es necesario introducir un título
        </div>
    </div>

    <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" formControlName="description" class="form-control"></textarea>
        <div class="error-message"
            *ngIf="avisoForm.controls['description'].invalid && avisoForm.controls['description'].touched">
            Es necesario introducir una descripción
        </div>
    </div>

    <div class="button-group">
        <button type="submit" [disabled]="avisoForm.invalid" class="btn btn-primary">Guardar</button>
        <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancelar</button>
    </div>
</form>