<h1 mat-dialog-title>{{ data ? 'Modificar Departamento' : 'Agregar Departamento' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="departmentForm">
    <mat-form-field appearance="fill">
      <mat-label>Número de Departamento</mat-label>
      <input matInput formControlName="departmentNumber" required>
    </mat-form-field>
    
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>

