/* Estilos compartidos para el componente de usuarios y departamentos */

.mat-toolbar {
    display: flex;
    justify-content: center; /* Centra el título */
    align-items: center;
    background-color: #194E30; /* Color verde oscuro */
    color: white;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .mat-toolbar button, 
  .button-container button, 
  .mat-card-actions button {
    background-color: #194E30 !important; /* Verde oscuro */
    color: white !important; /* Texto blanco */
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 10px;
  }
  
  .mat-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .mat-col-4 {
    flex: 1 1 calc(33.333% - 10px);
    margin: 5px;
  }
  
  .mat-card {
    background-color: #f5f5f5; /* Fondo más claro para las tarjetas */
    border-radius: 8px;
    padding: 15px;
  }
  
  .mat-card-title {
    font-weight: bold;
  }
  
  .mat-card-content p {
    margin: 0;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
    gap: 10px; /* Añade espacio entre los botones */
  }
  
  .mat-toolbar h1 {
    font-size: 32px; /* Ajusta el tamaño del título */
    margin: 0;
  }
  