<div class="booking-form-container">
    <h2>{{ isEditMode ? 'Editar Reserva' : 'Reservar Espacio' }}</h2>
    <div *ngIf="space" class="Space">
        <h3>{{ space.location }}</h3>
        <p><strong>Ubicación:</strong> {{ space.location }}</p>
        <p><strong>Capacidad:</strong> {{ space.capacity }} personas</p>
        <p><strong>Días Permitidos: </strong> <span *ngFor="let day of space.allowedDays">{{ day | dayTranslate }} </span></p>
        <p><strong>Horario:</strong> {{ space.openingHour }} - {{ space.closingHour }}</p>
    </div>
    <div class="container-buttonBack">
        <button class="buttonBack" mat-stroked-button color="secondary" [routerLink]="['/spaces']">Volver a Espacios</button>
    </div>
    <form [formGroup]="bookingForm" (ngSubmit)="createOrUpdateBooking()">
        <mat-form-field>
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="startPicker" formControlName="startDate" [matDatepickerFilter]="filterDates" required>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="bookingForm.get('startDate')?.hasError('required')">
                Fecha de inicio es requerida.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hora de Inicio</mat-label>
            <input matInput formControlName="startTime" type="time" required>
            <mat-error *ngIf="bookingForm.get('startTime')?.hasError('required')">
                Hora de inicio es requerida.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de Fin</mat-label>
            <input matInput [matDatepicker]="endPicker" formControlName="endDate" [matDatepickerFilter]="filterDates" required>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="bookingForm.get('endDate')?.hasError('required')">
                Fecha de fin es requerida.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Hora de Fin</mat-label>
            <input matInput formControlName="endTime" type="time" required>
            <mat-error *ngIf="bookingForm.get('endTime')?.hasError('required')">
                Hora de fin es requerida.
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="bookingForm.hasError('endBeforeStart')">
            La fecha y hora de fin debe ser posterior a la de inicio.
        </mat-error>
        <button mat-raised-button color="accent" type="submit">{{ isEditMode ? 'Actualizar Reserva' : 'Reservar' }}</button>
    </form>

    <h3>Reservas Existentes</h3>
    <div class="bookings-table" *ngIf="filteredBookings.length > 0; else noBookings">
        <table mat-table [dataSource]="filteredBookings" class="mat-elevation-z8">
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef>Fecha de Inicio</th>
                <td mat-cell *matCellDef="let booking">{{ booking.startTime | date: 'dd/MM/yyyy HH:mm' }}</td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef>Fecha de Fin</th>
                <td mat-cell *matCellDef="let booking">{{ booking.endTime | date: 'dd/MM/yyyy HH:mm' }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <ng-template #noBookings>
        <p class="no-bookings">No hay reservas disponibles para este espacio.</p>
    </ng-template>
</div>
