<div class="sidebar" [class.visible]="isSidebarVisible">
  <ul>
    <li><a (click)="navigateTo('home')">Inicio</a></li>
    <li><a (click)="navigateTo('spaces')">Reserva de Espacios</a></li>
    <li *ngIf="isAdminOrJanitor"><a (click)="navigateTo('binnacles')">Bitácoras</a></li>
    <li><a (click)="navigateTo('visitor')">Visitantes</a></li>
    <li><a (click)="navigateTo('avisos')">Foro avisos</a></li>
    <li *ngIf="isAdminOrJanitor"><a (click)="navigateTo('create-order')">Registrar entrega</a></li>
    <li>
      <a (click)="navigateTo('order-list')">
        Historial de Entregas
      </a>
    </li>
    <li *ngIf="isAdminOrJanitor"><a (click)="navigateTo('admin-bookings')">Reservas</a></li>
    <li><a (click)="navigateTo('my-bookings')">Mis Reservas</a></li>
    <li *ngIf="isAdmin"><a (click)="navigateTo('user')">Usuarios</a></li>
    <li *ngIf="isAdmin"><a (click)="navigateTo('department')">Departamentos</a></li>
    <li><button (click)="logout()">Logout</button></li>
  </ul>
</div>
<button class="sidebar-toggle" (click)="toggleSidebar()">
  <i class="material-icons">{{ isSidebarVisible ? 'close' : 'menu' }}</i>
</button>
