<nav class="navbar">
  <a (click)="navigateTo('home')">Inicio</a>
  <a (click)="navigateTo('spaces')">Reserva de Espacios</a>
  <a (click)="navigateTo('my-bookings')">Mis reservas</a>
  <a (click)="navigateTo('admin-bookings')">Reservas</a>
  <a (click)="navigateTo('visitor')">Visitante</a>
  <a (click)="navigateTo('user')">Usuarios</a>
  <a (click)="navigateTo('department')">Departamentos</a>
  <a (click)="navigateTo('order-list')">Ordenes</a>
  <a (click)="navigateTo('binnacles')">Bitácoras</a>
  <button (click)="logout()">Logout</button>
</nav>
