<div class="bitacoras-container">
  <div class="actions-card">
    <div class="actions">
      <input type="date" placeholder="dd-mm-aaaa" [(ngModel)]="selectedDate">
      <button (click)="buscar()">Buscar</button>
      <button (click)="buscarAll()">Todo</button>
    </div>
  </div>
  <div class="details-container" *ngIf="binnacles.length >= 0">
    <div class="columns">
      <div class="column">
        <h3>Conserje</h3>
        <ul>
          <li *ngFor="let binnacle of binnacles">{{ binnacle.janitorID }}</li>
        </ul>
      </div>
      <div class="column">
        <h3>Actividad</h3>
        <ul>
          <li *ngFor="let binnacle of binnacles">{{ binnacle.activityType }}</li>
        </ul>
      </div>
      <div class="column">
        <h3>Descripción</h3>
        <ul>
          <li *ngFor="let binnacle of binnacles">{{ binnacle.description }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
