<div class="order-list-container">
  <h1>Lista de Pedidos Recibidos</h1>
  <!-- Filtros -->
  <div class="filters">
      <h3>Filtrar</h3>
      <div>
          <label>Nombre del Destinatario</label>
          <input type="text" placeholder="Nombre del Destinatario" [(ngModel)]="filters.recipientFirstName" (ngModelChange)="applyFilters()">
      </div>
      <div>
          <label>Apellido del Destinatario</label>
          <input type="text" placeholder="Apellido del Destinatario" [(ngModel)]="filters.recipientLastName" (ngModelChange)="applyFilters()">
      </div>
      <div>
          <label>Estado</label>
          <select [(ngModel)]="filters.status" (ngModelChange)="applyFilters()">
              <option value="">Todos los estados</option>
              <option value="PENDING">Pendiente</option>
              <option value="READY">Listo para Retirar</option>
              <option value="WITHDRAWN">Retirado</option>
          </select>
      </div>
      <div>
          <label>Fecha de Entrega</label>
          <input type="date" placeholder="Fecha de Entrega" [(ngModel)]="filters.deliveryTime" (ngModelChange)="applyFilters()">
      </div>
  </div>
  <table>
      <thead>
          <tr>
              <th>Seleccionar</th>
              <th>Nombre del Destinatario</th>
              <th>Apellido del Destinatario</th>
              <th>Estado</th>
              <th>Fecha de Entrega</th>
              <th>Acción</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let order of paginatedData">
              <td><input type="checkbox" (change)="toggleOrderSelection(order._id)" [checked]="order._id ? selectedOrderIds.includes(order._id) : false"></td>
              <td>{{ order.recipientFirstName }}</td>
              <td>{{ order.recipientLastName }}</td>
              <td>{{ order.status }}</td>
              <td>{{ order.deliveryTime | date: 'short' }}</td>
              <td>
                  <button *ngIf="order.status === 'PENDING'" (click)="openWithdrawOrderDialog(order)">Seleccionar Retirante</button>
              </td>
          </tr>
      </tbody>
  </table>
  <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>

<!-- Modal -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>Seleccionar Retirante</h2>
      <form (ngSubmit)="markAsReadyToWithdraw()">
          <div>
              <label>
                  <input type="radio" [(ngModel)]="withdrawMethod" name="withdrawMethod" value="self">
                  Yo
              </label>
              <label>
                  <input type="radio" [(ngModel)]="withdrawMethod" name="withdrawMethod" value="resident">
                  Otro Residente De Mi Depto
              </label>
              <label>
                  <input type="radio" [(ngModel)]="withdrawMethod" name="withdrawMethod" value="other">
                  Otra Persona
              </label>
          </div>

          <div *ngIf="withdrawMethod === 'resident'">
              <label for="withdrawnResidentId">Seleccionar Residente</label>
              <select class="form-control" [(ngModel)]="withdrawData.withdrawnResidentId" name="withdrawnResidentId" id="withdrawnResidentId">
                  <option *ngFor="let resident of residents" [value]="resident._id">
                      {{ resident.firstName }} {{ resident.lastName }}
                  </option>
              </select>
          </div>

          <div *ngIf="withdrawMethod === 'other'">
              <label for="expectedWithdrawnPersonFirstName">Nombre del Retirante</label>
              <input class="form-control" id="expectedWithdrawnPersonFirstName" [(ngModel)]="withdrawData.expectedWithdrawnPersonFirstName" name="expectedWithdrawnPersonFirstName">
              <label for="expectedWithdrawnPersonLastName">Apellido del Retirante</label>
              <input class="form-control" id="expectedWithdrawnPersonLastName" [(ngModel)]="withdrawData.expectedWithdrawnPersonLastName" name="expectedWithdrawnPersonLastName">
          </div>

          <div class="button-group">
              <button class="btn btn-primary" type="submit">Marcar Como Listo para Retirar</button>
              <button class="btn btn-secondary" type="button" (click)="closeModal()">Cancelar</button>
          </div>
      </form>
  </div>
</div>