<!-- login.component.html -->
<div class="login-container">
  <h1>Login</h1>
  <form (submit)="login()">
    <div class="input-group">
      <i class="fas fa-user"></i>
      <input type="email" placeholder="Email" id="email" [(ngModel)]="credentials.email" name="email" required>
    </div>
    <div class="input-group">
      <i class="fas fa-lock"></i>
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" id="password"
        [(ngModel)]="credentials.password" name="password" required>
      <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'Ocultar' : 'Ver' }}
      </button>
    </div>
    <div class="remember-me">
      <input type="checkbox" id="rememberMe">
      <label for="rememberMe">Remember me</label>
    </div>
    <button type="submit" class="btn-login">Log In</button>
    <p class="sign-up">Not a member? <a href="/signup">Sign up now</a></p>
  </form>
</div>