/* styles.css */
.mat-container {
  padding: 20px;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-row {
  display: flex;
  flex-wrap: wrap;
}

.mat-col-4 {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
}

.mat-mb-4 {
  margin-bottom: 20px;
}

.visitor-card {
  background-color: #f5f5f5;  /* Fondo más claro para las tarjetas */
}

.mat-card-title {
  font-weight: bold;
}

.mat-card-content p {
  margin: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

button[mat-stroked-button] {
  border-width: 2px;
  border-radius: 4px;
  margin-right: 8px;
}
.mat-card {
  background-color: #f5f5f5;
}
.mat-mdc-card {
  background-color: #f5f5f5;
}
