<div class="user-bookings-container">
    <h2>Mis Reservas</h2>
    <div *ngIf="bookings.length > 0; else noBookings">
        <mat-form-field>
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar reservas">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Columnas de la tabla -->
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Inicio</th>
                <td mat-cell *matCellDef="let booking">{{ booking.startTime | date:'short' }}</td>
            </ng-container>
            <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Fin</th>
                <td mat-cell *matCellDef="let booking">{{ booking.endTime | date:'short' }}</td>
            </ng-container>
            <ng-container matColumnDef="spaceName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Espacio</th>
                <td mat-cell *matCellDef="let booking">{{ getSpaceName(booking.spaceId) }}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let booking">
                    <button mat-button color="primary" (click)="editBooking(booking)">Editar</button>
                    <button mat-button color="warn" (click)="deleteBooking(booking._id)">Eliminar</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <ng-template #noBookings>
        <p class="no-bookings">No tienes reservas disponibles.</p>
    </ng-template>
</div>
