/* Estilos específicos para el componente de visitantes */

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-toolbar button {
  margin-right: 10px;
  background-color: #194E30 !important; /* Verde oscuro */
  color: white !important; /* Texto blanco */
  border-radius: 5px;
  margin-right: 5px;
}

.mat-row {
  display: flex;
  flex-wrap: wrap;
}

.mat-col-4 {
  flex: 1 1 calc(33.333% - 10px);
  margin: 5px;
}

.mat-mb-4 {
  margin-bottom: 20px;
}

.visitor-card {
  background-color: #f5f5f5; /* Fondo más claro para las tarjetas */
  border-radius: 8px;
  padding: 15px;
}

.mat-card-title {
  font-weight: bold;
}

.mat-card-content p {
  margin: 0;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  gap: 10px; /* Añade espacio entre los botones */
}

.button-container button {
  background-color: #194E30 !important; /* Verde oscuro */
  color: white !important; /* Texto blanco */
  border-radius: 5px;
  margin-right: 5px;
  gap: 10px;
}

.mat-toolbar h1 {
  margin-left: 20px;
  font-size: 32px;
}

.mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #194E30;
  color: white;
  padding: 10px;
}

.mat-toolbar h1 {
  margin: 0;
}

.button-container button, .button-container mat-form-field {
  margin: 0 10px;
}

.mat-form-field {
  min-width: 250px;
}

