/* Asegúrate de que el contenedor ocupe todo el espacio disponible */
:host {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #ECF0F1; /* Cambia este color por el que desees */
  padding: 20px;
  box-sizing: border-box;
}

.bitacoras-container {
  display: flex;
  height: 100%;
}

.actions-card {
  width: 200px;
  margin-right: 20px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-container {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.log {
  background-color: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.log h3 {
  margin: 0 0 10px 0;
}
.log p {
  margin: 5px 0;
}
