/* :host {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: #ECF0F1;
  padding: 20px;
  box-sizing: border-box;
} */

.bitacoras-container {
  display: flex;
  height: 100%;
}

.actions-card {
  width: 300px;
  margin-right: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-container {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Añadido para manejar el desbordamiento vertical */
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.log {
  margin: 10px 0;
}

.mat-card {
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
}

.log-content h3 {
  margin: 0 0 10px 0;
}

.log-content p {
  margin: 5px 0;
}

.log-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.eliminar-btn {
  background-color: #d9534f;
  color: white;
}

.eliminar-btn:hover {
  background-color: #c9302c;
}

.btn-modificar {
  background-color: #5bc0de;
  color: white;
}

.btn-modificar:hover {
  background-color: #31b0d5;
}

.warning-snackbar {
  background-color: #ff9800; /* Color de fondo */
  color: #fff; /* Color de texto */
}

